.login{
    border: 1px solid green;
}
button{
    box-sizing: border-box;
    display: block;
}

.fa{
    background-color:#F2B174 ;
    font-size: 17px;
}
.go{
    background-color:#F2D374 ;
}
.twi{
    background-color: #F2C474;
}

button{
    width: 300px;
    height: 80px;
    font-size: 23px;
    color: aliceblue;
}

.both{
display: flex;
justify-content: space-around;
background-color: rgb(138, 128, 128, 0.7);
}

.reg{
    display: flex;
    justify-content: center;
    color: #F2D374;
    background-color: rgb(138, 128, 128, 0.7);

    
}

label{
    flex-direction: column;
    display: flex;

}
.logs{
    width: 150px;
    height: 40px;
    background-color: #F2B174;
    font-weight: bold;
    }

h2{
    color: aliceblue;
}
section{
    display: inline-block;
}
.oben{
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 19px;
}
.remember{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}